# Virtual environment
.venv/
env/
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Pytest
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE / editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and temp files
*.log
*.tmp
*.bak
*.swp

# MacOS specific
.DS_Store
.env
